:root {
  --font-family: 'Montserrat', sans-serif;
}
.form {
  margin-top: 50px;
}

.label-one {
  margin-left: 156px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 360px;
  height: 72px;
}
input:hover {
  border: 1px solid #000;
}
.deley {
  padding-left: 16px;
  padding-right: 4px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  border: 1px solid #808080;
  border-radius: 4px;
  height: 40px;
}
fieldset {
  margin-top: 16px;
  margin-left: 156px;
  border-radius: 4px;
  stroke-width: 1px;
  stroke: #808080;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 48px;
  width: 333px;
}
.label {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}
label {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
}
.radio {
  width: 20px;
  height: 20px;
}
.radio {
  width: 20px;
  height: 20px;
}
.button-create {
  margin-top: 24px;
  margin-left: 156px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;

  border-radius: 8px;
  padding: 8px 16px;
  width: 360px;
  height: 40px;
  background: #4e75ff;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}
